<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>新增课程</title>
</head>

<body class="contanier">
    <div class="row">
        <div class="col-md-12">
            <form action="{:url('save')}" method="post">
                <label>名称:</label>
                <input type="text" name="name" />
                {volist name="Course->Klasses()->select()" id="klass"}
                <input type="checkbox" name="klass_id[]" id="klass_id_{$klass->id}" value="{$klass->id}" />
                <label for="klass_id_{$klass->id}">{$klass->name}</label>
                {/volist}
                <button type="submit">保存</button>
            </form>
        </div>
    </div>
</body>

</html>